* {
    margin: 0;
    padding: 0;

    --bg-color: /*#F6E2D7*/white;
    --bg-interactive: /*#DABAA8*/white;
}
body {
    background-color: var(--bg-color);
    font-family: sans-serif;
}
.bg {
    fill: #0000;
}
.detail {
    stroke: #0000;
}
.button {
    margin: -20px;
    &:hover {
        .bg {
            fill: var(--bg-interactive);
        }

        .detail {
            stroke: red;
        }
    }
}

.passthru {
    pointer-events: none;
}

nav {
    width: 100%;

    background-image: url("ExtendingLine_BG.svg");
    background-repeat: repeat-x;
    background-size: 40% auto;
    background-position: 0% 10%;

    svg {
        width: 100%;
        height: auto;
        display: block;
        
    }
}

#viewboxWrapper {
    width: 30%;
}